body {
    background: #7B1FA2;
}

h1 {
    position: absolute;
    left: 25.1%;
    right: 60%;
    width: 50%;
    padding-top:60px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.stylebox {
    border-radius: 20px;
    outline: inherit;
    box-shadow: 5px 5px 5px #3f3636;
    margin-inline: auto;
    justify-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 18px;
    width: 40%;
    height: 600px;
    background-color: #ffffff;
    text-align: center;



}

.Name {
    justify-items: center;
    text-align: justify;
    width: 52%;
    height: 30px;
    left: 125px;
    margin-left: 23%;
}


.Password {
    justify-items: center;
    text-align: justify;
    width: 52%;
    height: 30px;
    left: 125px;
    margin-left: 23%;
}

.password2 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.name2 {
    margin-top: 130px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-block: 12px;
    color: #ffffff;
    text-align: center;
    width: 22%;
    left: 125px;
    outline: inherit;
    border: none;
    background-color: #212529;


}

a {
    justify-content: center;
}