.grid-box {
    display: grid;
    grid-template-columns: 100px 160px 140px 160px 190px auto 100px;
    grid-template-rows: 50px 50px;
    gap: 5px;
    overflow: hidden;
    background-color: rgb(71, 99, 136);
}

a {
    text-decoration: none;
}

.grid-box-son {
    color: rgba(235, 235, 235, 0.842);
    align-content: center;
}

.flex-padre {
    max-height: max-content;
    background-color: rgb(46, 83, 133);
}

/* prueba inicia */
div {
    /* border: 1px solid red; */
}

.flex-padre--2 {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-padre--2>img {
    width: 250px;
    height: 136px;

}

.imagen {
    width: 100%;
    max-width: 251px;
    height: auto;
    border: 1px solid red;
}

.item1 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 9;
}

.item2 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 9;
}

.item3 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 9;
}

.item4 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 9;
}

.item5 {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex-grow: 1;
    flex-shrink: 9;
}



/* prueba finaliza */
.header-img {
    height: 80px;
    width: 80px;
    position: relative;
    top: 5px;
    left: 20px;
}

.logo {
    grid-row: 1/3;
}

.tio {
    grid-row: 1/3;
    align-content: center;
    font-size: 25px;
    color: white;
    width: 90%;
    padding-left: 20px;
}

.logo-text {
    font-size: 15px;
}

.home {
    grid-row: 1/3;
}

.animes {
    grid-row: 1/3;
}

.develop {
    grid-row: 1/3;
    font-weight: bold;
}

.search {
    grid-row: 1/3;
    color: black;
    background-color: transparent;
    height: min-content;
    font-size: 20px;
    align-self: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
    /* Transición suave del color del borde */
    max-width: 260px;
    min-width: 200px;
    margin-left: 30%;
}

.search:focus {
    border-color: #007bff;
    /* Cambiar el color del borde al enfocar el input */
}

.search::placeholder {
    color: rgba(0, 0, 0, 0.548);
}

.photo {
    grid-row: 1/3;
}

.logo-logout {
    width: 50px;
    height: 50px;
}

.home,
.animes,
.develop {
    text-align: center;
    font-size: 19px;
}

.photo {
    text-align: center;
    padding-top: 20px;

}

footer>img {
    width: auto;
    height: 136px;
}

footer {
    display: flex;
    width: 100%;
    justify-content: baseline;
    align-items: center;
    gap: 20px;
}

.logo-footer {
    width: auto;
}

.name-footer {
    width: 10%;
}

.request-footer {
    width: 10%;
}

.contact-footer {
    width: auto;
}

h6 {
    text-align: right;
    border: 1px solid purple;
    height: 50px;
    width: auto;
    font-size: 15px;
}

.episode-icon {
    position: relative;
    top: 7px;
    width: 40px;
    height: 40px;
}

.hijo {
    display: flex;
    flex-direction: column;
}

a {
    width: 60%;
    padding-top: 2%;
    padding-left: 20%;
}

/* section: latest => animes,ovas,specials */

.latest-animes {
    display: flex;
    gap: 5px;
    grid-template-rows: auto;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow: auto;
}

.latest-animes-movies {
    height: auto;
    flex-wrap: nowrap;
}

.latest-animes-ovas {
    height: auto;
    flex-wrap: nowrap;
}

.latest-animes-specials {
    height: auto;
    flex-wrap: nowrap;
}

/* content latest anime */

.latest-animes-movies--content {
    display: grid;
    grid-template-columns: 130px 65px 110px 75px;
    grid-template-rows: 40px 70px 70px 40px 70px 70px;
    padding: 15px 10px;
    gap: 5px;
}

.latest-anime-movies--content-item1 {
    grid-row: 1/4;
}

.latest-anime-movies--content-item2 {
    grid-column: 2/5;
}

.latest-anime-movies--content-item3 {
    grid-column: 2/5;
}

.latest-anime-movies--content-item4 {
    grid-column: 2/3;
}

.latest-anime-movies--content-item5 {
    grid-column: 3/4;
}

.latest-anime-movies--content-item6 {
    grid-column: 4/5;
}



/* other section */

.latest-anime-movies--content-item7 {
    grid-row: 4/7;
}

.latest-anime-movies--content-item8 {
    grid-column: 2/5;
}

.latest-anime-movies--content-item9 {
    grid-column: 2/5;
}

.latest-anime-movies--content-item10 {
    grid-column: 2/3;
}

.latest-anime-movies--content-item11 {
    grid-column: 3/4;
}

.latest-anime-movies--content-item12 {
    grid-column: 4/5;
}

/* latest news section */
.section--latest-news {
    border: 2px solid rgb(0, 0, 0);
    height: 500px;
    padding-inline: 20px;
}

/* practica flex */
.section--latest-news-titles {
    display: flex; 
    justify-content: space-between;
}


h3 {
    width: 33%
}

.content--latest-new {
    display: flex;
    justify-content: space-between;
    min-width: 80%;
    flex-wrap: wrap;
    overflow-x: auto;
}


.latest-ovas-cart1 {
    display: flex;
    height: 200px;
    width: 33%;

}

.imagen-latest-new {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.imagen-latest-new-box2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-left: 15px;
}

.subtitule-latest-new {}

.buttons-latest-new {
    align-content: space-around;
}